Repository Devops-2022-Group-R/itu-minitwit, pull requests merged in 2022-05, with the labels that each got.

#104 Add changelog generator
  .circleci/config.yml
  CHANGELOG.md
Labels: enhancement

#108 Modify output for the changelog generator
  .circleci/config.yml
Labels: minor

#117 Repository organisation and git branching
  report/build/main.pdf
  report/main.tex
  report/sections/process-perspective/git-branching-strategy.tex
  report/sections/process-perspective/process-perspective.tex
  report/sections/process-perspective/repository-organisation.tex
  report/sources.bib
Labels: report

#124 Add sections about monitoring and logging
  report/build/main.pdf
  report/images/azure-dashboard-cpu.png
  report/images/grafana-dashboard-cpu.png
  report/images/grafana-dashboard.png
  report/images/kibana-logs-structure.png
  report/main.tex
  report/sections/appendices/appendices.tex
  report/sections/appendices/monitoring-samples.tex
  report/sections/process-perspective/logging.tex
  report/sections/process-perspective/monitoring.tex
  report/sections/process-perspective/process-perspective.tex
  report/sources.bib
Labels: report

#126 Report/scaling and load balancing
  report/build/main.pdf
  report/sections/process-perspective/process-perspective.tex
  report/sections/process-perspective/scaling-strategy.tex
  report/sources.bib
Labels: report

#141 Add System Design section to report
  report/build/main.pdf
  report/sections/system-perspective/system-design.tex
  report/sections/system-perspective/system-perspective.tex
  report/sources.bib
Labels: report

#143 Add diagram of how packages are related
  report/build/main.pdf
  report/images/package-relations/package-relations-diagramsnet-source.xml
  report/images/package-relations/package-relations.pdf
  report/sections/system-perspective/system-design.tex
Labels: report

#146 Lessons learned section in report
  report/build/main.pdf
  report/main.tex
  report/sections/lessons-learned-perspective/evolution-refactoring.tex
  report/sections/lessons-learned-perspective/lessons-learned-perspective.tex
  report/sections/lessons-learned-perspective/maintenance.tex
  report/sections/lessons-learned-perspective/operation.tex
  report/sections/process-perspective/security-assessment.tex
  report/sources.bib
Labels: report

#147 Reflections
  report/build/main.pdf
  report/sections/lessons-learned-perspective/lessons-learned-perspective.tex
  report/sections/lessons-learned-perspective/reflection.tex
Labels: report

#151 Update with more CI/CD and state of systems
  report/build/main.pdf
  report/images/bettercodehub-results.png
  report/images/sonarcloud-results-errors.png
  report/images/sonarcloud-results.png
  report/sections/appendices/appendices.tex
  report/sections/appendices/ci-cd-workflow.tex
  report/sections/appendices/static-code-analysis-results.tex
  report/sections/process-perspective/ci-cd-chains.tex
  report/sections/system-perspective/current-system-status.tex
  report/sections/system-perspective/system-dependencies.tex
  report/sections/system-perspective/system-perspective.tex
  report/sources.bib
Labels: report

#153 Fix incorrect total page number
  .circleci/config.yml
  report/build/main.pdf
  report/main.tex
Labels: bug, report

#158 Add number of words to front page
  report/build/main.pdf
  report/sections/front-page.tex
Labels: report

#161 Some small report fixes
  report/build/main.pdf
  report/sections/front-page.tex
  report/sections/lessons-learned-perspective/maintenance.tex
  report/sections/lessons-learned-perspective/reflection.tex
  report/sections/process-perspective/team-interaction.tex
  report/sections/system-perspective/system-architecture.tex
Labels: report
